.city {
  width: 150px;
}
.form-container {
  margin-top: 20px;
}
.card-title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 26px;
  color: rgb(211, 43, 226);
}
.temperature {
  padding-left: 0;
  margin-bottom: 40px;
}
#temp {
  font-size: 50px;
  font-weight: bold;
  color: rgb(211, 43, 226);
}
#github-link {
  font-size: 14px;
  color: blue;
}
.row-city {
  font-size: 13px;
  color: rgb(211, 43, 226);
}
.text-muted {
  font-size: 13px;
}
.day {
  font-size: 13px;
}
.units {
  position: relative;
  top: -26px;
}
.text-weather {
  list-style-type: none;
  padding-left: 0;
}
.name {
  font-size: 14px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
img {
  position: relative;
  bottom: 10px;
  left: 20px;
}
